.card-container{
    background-color: white;
    max-width: 350px;
    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.comma{
    width: 25%;
}

.img-person{
    width: 50%;
}

.person{
    width: 40%;
    border-radius: 100%;
}

.text-person{
    width: 50%;
}